{% extends "base.html" %}
{% load static %}

{% block content %}


<section class="hero min-h-[60vh] text-secondary-content bg-cover bg-center bg-secondary">
  <div class="hero-overlay"></div>
  <div class="hero-content flex-col lg:flex-row-reverse gap-8 lg:gap-12 max-w-6xl w-full px-4 md:px-8">
    <div class="w-full lg:w-5/12 flex justify-center lg:justify-end">
      [TBC]
    </div>
  </div>
</section>

<section class="py-16 px-10 bg-accent text-accent-content text-center">
  <h2 class="text-3xl md:text-4xl font-bold mb-6">
    Home page goes here
  </h2>
</section>

{% endblock %}
