[tool.ruff]
line-length = 120
target-version = "py313"
extend-exclude = ["migrations", "static", "node_modules"]

[tool.ruff.lint]
select = ["E", "F", "I", "B"]
ignore = []
fixable = ["ALL"]
unfixable = []

[tool.ruff.lint.per-file-ignores]
"__init__.py" = ["F401"]
"tests/*" = ["D"]

[tool.ruff.format]
quote-style = "double"
