{% extends "base.html" %}

{% block content %}
<div class="max-w-5xl mx-auto px-4 py-16 space-y-12">

  <!-- Hero -->
  <div class="hero min-h-[20vh] bg-base-100 text-base-content">
    <div class="hero-content text-center">
      <div class="max-w-md">
        <h1 class="text-5xl font-bold">In progress</h1>
        <p class="py-6">This feature is still being developed. <a href="/follow">Sign up</a> if you'd like to be notified of site updates.</p>
        <a href="/follow" class="btn btn-accent">Sign up</a>
      </div>
    </div>
  </div>

</div>
{% endblock %}
